{% extends 'auth/auth_base.html' %}

{% block login %}

    <div class="fl form-box">
        <h2>帐号登录</h2>
        {% for msg in get_flashed_messages(category_filter=["err"]) %}
            <p class="login-box-msg" style="color: red">{{ msg }}</p>
        {% endfor %}
        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <p class="login-box-msg" style="color: green">{{ msg }}</p>
        {% endfor %}
        <form action="{{ url_for('auth.login') }}" method="post" autocomplete="off">
            <fieldset>

                <div class="form-group marb20 ">
                    <label for="input_contact"><span class="glyphicon glyphicon-user">

                </span>&nbsp;{{ form.username.label }}
                    </label>
                    {{ form.username }}
                </div>
                <div class="form-group marb8 ">
                    <label for="input_password"><span
                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.password.label }}</label>
                    {{ form.password }}
                </div>

                <div class="error btns login-form-tips" id="jsLoginTips"></div>
                <div class="auto-box marb38">

                    <a class="fr" href="{{ url_for('auth.forget_password') }}">忘记密码？</a>
                </div>
                {{ form.csrf_token }}
                {{ form.submit }}
            </fieldset>
        </form>

        <p class="form-p">没有慕学在线网帐号？<a href="{{ url_for('auth.register') }}">[立即注册]</a></p>
    </div>


{% endblock %}