{% extends 'auth/auth_base.html' %}


{% block content %}
    <div class="loginbox dialogbox">
        <h1>账号登录</h1>
        <div class="close jsCloseDialog"><img src="{{ url_for('static',filename='images/dig_close.png') }}"/></div>
        <div class="cont">
            <form id="jsLoginForm" autocomplete="off">
                <div class="box">
                    <span class="word3">用户名</span>
                    <input type="text" name="account_l" id="account_l" placeholder="手机号/邮箱"/>
                </div>
                <div class="box">
                    <span class="word2">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" name="password_l" id="password_l" placeholder="请输入您的密码"/>
                </div>
                <div class="error btns login-form-tips" id="jsLoginTips"></div>
                登录错误提示
                <div class="btns">
                    <span><input type="checkbox" id="jsAutoLogin"/>&nbsp;自动登录</span>
                    <span class="forget btn fr">忘记密码</span>
                </div>
                <div class="button">
                    <input type="button" value="登录" id="jsLoginBtn"/>
                </div>
                <div class="btns">
                    <span class="fr">没有账号？<span class="regist btn">立即注册</span></span>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block register %}
    <div class="fl form-box">
        <div class="tab">
            <!--
            <h2 class="active">手机注册</h2>
            -->
            <h2>邮箱注册</h2>
        </div>
        <!--
        <div class="tab-form">
            <form id="mobile_register_form" autocomplete="off">
                <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ'/>
                <div class="form-group marb20">
                    <label>手&nbsp;机&nbsp;号</label>
                    <input id="jsRegMobile" name="account" type="text" placeholder="请输入您的手机号码"/>
                </div>
                <div class="form-group marb20" id="jsRefreshCode">
                    <label>验&nbsp;证&nbsp;码</label>
                    <input autocomplete="off" class="form-control-captcha mobile-register-captcha"
                           id="mobile-register-captcha_1" name="captcha_m_1" placeholder="请输入验证码" type="text"/> <input
                        class="form-control-captcha mobile-register-captcha" id="mobile-register-captcha_0"
                        name="captcha_m_0" placeholder="请输入验证码" type="hidden"
                        value="29953bacf7005e8469388b449d97d00d523c1706"/> &nbsp;<img
                        src="/captcha/image/29953bacf7005e8469388b449d97d00d523c1706/" alt="captcha" class="captcha"/>
                </div>
                <div class="clearfix">
                    <div class="form-group marb8 verify-code">
                        <label>短信验证码</label>
                        <input id="jsPhoneRegCaptcha" name="mobile_code" type="text" placeholder="输入手机验证码"/>
                    </div>
                    <input class="verify-code-btn sendcode" id="jsSendCode" value="发送验证码">
                </div>
                <div class="form-group marb8">
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <input id="jsPhoneRegPwd" name="password_m" type="password" placeholder="请输入6-20位非中文字符密码"/>
                </div>
                <div class="error btns" id="jsMobileTips"></div>
                <div class="auto-box marb8">

                </div>
                <input class="btn btn-green" id="jsMobileRegBtn" type="button" value="注册并登录"/>
            </form>
        </div>
        -->
        <div class="tab-form">
            <form id="email_register_form" method="post" autocomplete="off">

                <div class="form-group marb20 ">
                    <label for="input_name"><span
                            class="glyphicon glyphicon-user"></span>&nbsp;{{ form.username.label }}
                    </label>
                    {{ form.username }}
                </div>
                {% for err in form.username.errors %}
                    <div class="col-md-12"></div>
                    <font style="color: red">{{ err }}</font>
                {% endfor %}
                <div class="form-group marb20 ">
                    <label for="input_email"><span
                            class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label }}
                    </label>
                    {{ form.email }}
                </div>
                {% for err in form.email.errors %}
                    <div class="col-md-12"></div>
                    <font style="color: red">{{ err }}</font>
                {% endfor %}
                <div class="form-group marb20 ">
                    <label for="input_password"><span
                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.password.label }}
                    </label>
                    {{ form.password }}
                </div>
                {% for err in form.password.errors %}
                    <div class="col-md-12"></div>
                    <font style="color: red">{{ err }}</font>
                {% endfor %}
                <div class="form-group marb20 ">
                    <label for="input_password"><span
                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.repwd.label }}
                    </label>
                    {{ form.repwd }}
                    {% for err in form.repwd.errors %}
                        <div class="col-md-12"></div>
                        <font style="color: red">{{ err }}</font>
                    {% endfor %}

                </div>

                <div class="error btns" id="jsEmailTips"></div>
                <div class="auto-box marb8">
                </div>
                {{ form.csrf_token }}
                {{ form.submit }}
            </form>
        </div>
        <p class="form-p">已有账号？<a href="{{ url_for('auth.login') }}">[立即登录]</a></p>
    </div>




{% endblock %}