body {
	font-family: "Sofia" ,"Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

#wrapper{
	height:1000px;
}

#category{
	float:left;
	height: 50%;
	width: 50%;
}

#product{
	float: right;
	height: 50%;
	width: 50%;
}

#banner {
	height: 100px;
	width: 100%;
	background-color: aqua;
}

#banner h3 {
	text-align: center;
}

#oauth {
	width: 100%;
	height: 75px;
	float: right;
}

#oauth a {
	float: right;
}

#Signup {
	clear: both;
	float: right;
}