{% extends 'home/user_base.html' %}
{% block title %}
    操作记录
    {{ super() }}
{% endblock %}


{% block content %}
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                <h5>我的操作记录</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>操作地点</th>
                        <th>操作内容</th>
                        <th>操作时间</th>
                        <th>用户</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr class="odd gradeX">
                            <td>{{ loop.index }}</td>
                            <td>{{ log.ip_add }}</td>
                            <td>{{ log.remark }}</td>
                            <td class="center">{{ log.add_time }}</td>
                            <td class="center">{{ current_user.username }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
