<div class="top">
    <div class="wp">
        <div class="fl"><p>服务电话：<b>888888888</b></p></div>
        <!--登录后跳转-->
        {% if current_user.is_authenticated %}
            <div class="personal">
                <dl class="user fr">
                    <dd href="{{ url_for('home.user') }}">
                        欢迎：{{ current_user.username }}<img class="down fr"
                                                           src="{{ url_for('static',filename='images/top_down.png') }}"/>
                    </dd>
                    <dt><img width="20" height="20"
                             src="{{ url_for('static',filename='media/image/2016/12/default_big_14.png') }}"/>
                    </dt>
                </dl>
                <div class="userdetail">
                    <dl>
                        <dt><img width="80" height="80"
                                 src="{{ url_for('static',filename='media/image/2016/12/default_big_14.png') }}"/>
                        </dt>
                        <dd>
                            <h2>{{ current_user.info }}</h2>
                            <p>{{ current_user.username }}</p>
                        </dd>
                    </dl>
                    <div class="btn">
                        <a class="personcenter fl" href="{{ url_for('home.user') }}">进入个人中心</a>
                        <a class="fr" href="{{ url_for('auth.logout') }}">退出</a>
                    </div>
                </div>
            </div>
        {% else %}
            <a style="color:white" class="fr registerbtn" href="{{ url_for('auth.register') }}">注册</a>
            <a style="color:white" class="fr loginbtn" href="{{ url_for('auth.login') }}">登录</a>
        {% endif %}
    </div>
</div>