{% extends 'home/user_base.html' %}
{% block title %}
    购物车
    {{ super() }}
{% endblock %}


{% block content %}
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                    <h5>我的购物车</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>选择</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>价格</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for buy in buys %}
                        <tr class="odd gradeX">
                            <td>{{ loop.index }}</td>
                            <td><button>选择盒子</button></td>
                            <td>{{ Goods.query.filter_by(good_id=buy.goods_id).first().name }}</td>
                            <td class="center">{{ buy.num }}</td>
                            <td class="center">{{ Goods.query.filter_by(good_id=buy.goods_id).first().price }}</td>
                            <td>{{ buy.add_time }}</td>
                            <td>
                                <button>删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>商品数量：</td>
                            <td>使用js计算统计</td>
                            <td>商品总金额：</td>
                            <td>使用js计算统计</td>
                        </tr>
                        </tbody>

                    </table>

                    <button id="jiesuan">去结算</button>
                </div>
            </div>
        </div>

{% endblock %}
<!--购物车结算 进行post请求 以及其他页面添加到购物车 都是ajax请求 -->
{% block script %}
    <script>
    document.getElementById("jiesuan").onclick=function () {
        //发送数据 并生成订单页面
        var request = new XMLHttpRequest();
        request.open("POST",url_for('home.jiesuan'));
        var data = "id=" + document.getElementById("good").value;
        //一定要加上这一段 不然报错
        request.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        request.send(data);
        request.onreadystatechange = function () {
            if (request.readyState ===4){
                if (request.status === 200){
                    document.getElementById("Result").innerHTML = request.responseText;
                }else {
                    alert("订单生成失败！")
                }
            }
        }
    };
    </script>

{% endblock %}