{% extends 'home/user_base.html' %}
{% block title %}
    我的收藏
    {{ super() }}
{% endblock %}


{% block content %}
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                    <h5>我的收藏</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>商品+链接</th>
                            <th>操作时间</th>
                            <th>用户</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collect in collects %}
                         <tr class="odd gradeX">
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ url_for('home.detail',goods_id=collect.good_id) }}">
                                    {{ Goods.query.filter_by(good_id=collect.good_id).first().name }}</a>
                            </td>
                            <td>{{ collect.add_time }}</td>
                            <td class="center">{{ current_user.username }}</td>
                            <td class="center">
                                <button>取消收藏</button>
                                <button>加入购物车</button>
                            </td>
                        </tr>
                        {% endfor %}



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
