{% extends 'home/user_base.html' %}
{% block title %}
    我发出的评论
    {{ super() }}
{% endblock %}


{% block content %}
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                <h5>我发出来评论</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>评论内容</th>
                        <th>评论商品</th>
                        <th>评论时间</th>
                        <th>用户</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr class="odd gradeX">
                            <td>{{ loop.index }}</td>
                            <td>{{ comment.content }}</td>
                            <td>
                                <a href="{{ url_for('home.detail',goods_id=comment.comment_good_id) }}">
                                    {{ Goods.query.filter_by(good_id=comment.comment_good_id).first().name }}</a>
                            </td>

                            <td class="center">{{ comment.add_time }}</td>
                            <td class="center">{{ current_user.username }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}









