{% extends 'home/home_base.html' %}
{% block wp %}
    <ul>
        <li><a href="{{ url_for('home.index') }}">首页</a></li>
        <li class="active">
            <a href="{{ url_for('home.course_list',page=1) }}">
                所有课程<img class="hot" src="{{ url_for('static',filename='images/nav_hot.png') }}">
            </a>
        </li>
        <li>
            <a href="{{ url_for('home.teacher_list',page=1) }}">授课教师</a>
        </li>
        <li><a href="{{ url_for('home.school_list',page=1) }}">授课机构</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="{{ url_for('home.index') }}">首页</a>></li>
                    <li><a href="{{ url_for('home.course_list',page=1) }}">公开课程</a>></li>
                    <li>课程详情</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">
                    <div class="left">
                        <div class="picbox">
                            <div class="tb-booth tb-pic">
                                <img width="440" height="445"
                                     src="{{ url_for('static',filename=info.image) }}"
                                     class="jqzoom"/>
                            </div>

                        </div>
                        <div class="des">
                            <h1 title="{{ info.course_name }}">{{ info.course_name }}</h1>
                            <span class="key">{{ info.introduce }}</span>
                            <div class="prize">
                                {% if info.difficulty == 1 %}
                                        <span class="fl">难度：<i class="key"></i>入门</span>
                                    {% elif info.difficulty == 2 %}
                                        <span class="fl">难度：<i class="key"></i>初级</span>
                                    {% elif info.difficulty == 3 %}
                                        <span class="fl">难度：<i class="key"></i>中级</span>
                                    {% elif info.difficulty == 4 %}
                                        <span class="fl">难度：<i class="key"></i>高级</span>
                                    {% else %}
                                        <span class="fl">难度：<i class="key"></i></span>
                                    {% endif %}
                            </div>
                            <ul class="parameter">
                                <li><span class="pram word3">学习人数：</span><span>{{ info.study_num }}</span></li>
                                <li><span class="pram word3">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span><span>{{ info.long_time }}</span></li>
                                <li><span class="pram word3">章&nbsp;节&nbsp;数：</span><span>{{ info.chap_num }}</span></li>
                                <li><span class="pram word3">课程类别：</span><span title="{{ info.good_tag }}">{{ info.good_tag }}</span></li>
                                <li><span class="pram word3">售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</span><span>{{ info.price }} <del>{{ info.old_price }}</del></span></li>
                                <li class="piclist"><span class="pram word4">学习用户：</span>

                                    <span class="pic"><img width="40" height="40"
                                                           src="{{ url_for('static',filename='media/image/2016/12/default_big_14.png') }}"/></span>

                                </li>
                            </ul>
                            <div class="btns">
                                <div class="btn colectgroupbtn" id="jsLeftBtn">
                                    收藏
                                </div>
                                {#<div class="buy btn"><a style="color: white" href="#">加入购物车</a></div>#}
                                <div class="btn colectgroupbtn" id="AddCarBtn">
                                    加入购物车
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="right">
                        <div class="head">
                            <h1>授课机构</h1>
                            <p>世界名校，课程权威</p>
                        </div>
                        <div class="pic">
                            <a href="{{ url_for('home.ori_homepage',org_id=school.id) }}">
                                <img width="150" height="80"
                                     src="{{ url_for('static',filename=school.school_image) }}"/>
                            </a>
                        </div>
                        <a href="{{ url_for('home.ori_homepage',org_id=school.id) }}">
                            <h2 class="center" title="{{ teacher.teacher_company }}">{{ teacher.teacher_company }}</h2>
                        </a>
                        <div class="btn  notlogin
					     " data-favid="14" id="jsRightBtn">
                            收藏
                        </div>
                        <div class="clear">
                            <ul>
                                <li>
                                    <span>课 &nbsp;程&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{  school.course_num }}</span>
                                </li>
                                <li>
                                    <span>教 &nbsp;师&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ school.teacher_num }}</span>
                                </li>
                                <li>所在地区：&nbsp;&nbsp;{{  school.school_address }}</li>
                                <li>认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证&nbsp;:
                                    &nbsp;&nbsp;
                                    <img title="金牌机构" , src="{{ url_for('static',filename='images/gold.png') }}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="list groupPurchase_detail_pro">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">课程详情</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">

                        <p>&nbsp; &nbsp; django与vuejs实战项目</p>
                        <p>
                            <img src="{{ url_for('static',filename='media/courses/ueditor/aobama_20161113225044_773.png') }}"
                                 title="" alt="aobama.png"/></p>
                        <table>
                            <tbody>
                            <tr class="firstRow">
                                <td style="word-break: break-all;" width="53" valign="top">课程</td>
                                <td style="word-break: break-all;" width="53" valign="top">课时<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">难度<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">时长<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">学习人数<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">点击数<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">点击数</td>
                                <td style="word-break: break-all;" width="53" valign="top">点击数</td>
                            </tr>
                            <tr>
                                <td style="word-break: break-all;" width="53" valign="top">django开发<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">20<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">中级<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">30<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">100000<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">100000<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">100000<br/></td>
                                <td style="word-break: break-all;" width="53" valign="top">100000<br/></td>
                            </tr>
                            <tr>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                            </tr>
                            <tr>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                            </tr>
                            <tr>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                            </tr>
                            <tr>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                                <td width="53" valign="top"><br/></td>
                            </tr>
                            </tbody>
                        </table>
                        <p><br/></p>
                        <p><img src="http://img.baidu.com/hi/jx2/j_0025.gif"/></p>
                        <p><br/></p>
                        <h1 class="ue_t" label="Title center" name="tc"
                            style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;">
                            <span style="color:#c0504d;">[键入文档标题]</span></h1>
                        <p style="text-align:center;"><strong class="ue_t">[键入文档副标题]</strong></p>
                        <h3><span class="ue_t" style="font-family:幼圆">[标题 1]</span></h3>
                        <p class="ue_t" style="text-indent:2em;">对于“插入”选项卡上的库，在设计时都充分考虑了其中的项与文档整体外观的协调性。
                            您可以使用这些库来插入表格、页眉、页脚、列表、封面以及其他文档构建基块。 您创建的图片、图表或关系图也将与当前的文档外观协调一致。</p>
                        <p class="ue_t" style="text-indent:2em;"><img
                                src="http://127.0.0.1:8000../media/courses/ueditor/57aa86a0000145c512000460_20161210234050_865.jpg"
                                title="" alt="57aa86a0000145c512000460.jpg"/></p>
                        <h3><span class="ue_t" style="font-family:幼圆">[标题 2]</span></h3>
                        <p>
                            <img src="http://api.map.baidu.com/staticimage?center=116.410899,39.863624&zoom=11&width=530&height=340&markers=116.404,39.915"
                                 width="530" height="340"/></p>
                        <p class="ue_t" style="text-indent:2em;">在“开始”选项卡上，通过从快速样式库中为所选文本选择一种外观，您可以方便地更改文档中所选文本的格式。
                            您还可以使用“开始”选项卡上的其他控件来直接设置文本格式。大多数控件都允许您选择是使用当前主题外观，还是使用某种直接指定的格式。</p>
                        <h3><span class="ue_t" style="font-family:幼圆">[标题 3]</span></h3>
                        <p>2016-12-10</p>
                        <p class="ue_t">对于“插入”选项卡上的库，在设计时都充分考虑了其中的项与文档整体外观的协调性。 您可以使用这些库来插入表格、页眉、页脚、列表、封面以及其他文档构建基块。
                            您创建的图片、图表或关系图也将与当前的文档外观协调一致。</p>
                        <p><br/></p>

                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="right layout">
                    <div class="head">相关课程推荐</div>
                    <div class="group_recommend">

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ url_for('static',filename='media/courses/2016/11/540e57300001d6d906000338-240-135_mvvGYHL.jpg') }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> django实战项目</h2></a>
                                <span class="fl">学习时长：<i class="key">0</i></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/org/add_fav/",
                data: JSON.stringify({'fav_id': fav_id, 'fav_type': fav_type}),
                dataType: "json",
                //async：true（异步）或 false（同步）
                async: true,
                contentType: "application/json; charset=utf-8",
                //beforeSend: function (xhr, settings) {
                //    xhr.setRequestHeader("X-CSRFToken", "5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy");
                //},
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "/auth/login";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        current_elem.text(data.msg)
                    }
                }
            });
        }

        //课程的收藏
        $('#jsLeftBtn').on('click', function () {
            //课程id
            add_fav($(this), {{ info.course_id }}, 1);
        });
        //机构的收藏
        $('#jsRightBtn').on('click', function () {
            //机构id
            add_fav($(this), {{ school.id }}, 2);
        });
    </script>

    <script type="text/javascript">
        //加入购物车操作
        function add_car(current_elem, fav_id, price) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/org/add_car/",
                data: JSON.stringify({'fav_id': fav_id, 'price': price}),
                dataType: "json",
                //async：true（异步）或 false（同步）
                async: true,
                contentType: "application/json; charset=utf-8",
                //beforeSend: function (xhr, settings) {
                //    xhr.setRequestHeader("X-CSRFToken", "5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy");
                // },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "/auth/login";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        current_elem.text(data.msg)
                    }
                }
            });
        }

        //课程的收藏
        $('#AddCarBtn').on('click', function () {
            //课程id
            add_car($(this), {{ info.course_id }}, {{ info.price }});
        });
    </script>
{% endblock %}
