{% extends 'home/home_base.html' %}
{% import "home/_macros.html" as macros %}
{% block wp %}
    <ul>
        <li><a href="{{ url_for('home.index') }}">首页</a></li>
        <li class="active">
            <a href="{{ url_for('home.course_list',page=1) }}">
                所有课程<img class="hot" src="{{ url_for('static',filename='images/nav_hot.png') }}">
            </a>
        </li>
        <li>
            <a href="{{ url_for('home.teacher_list',page=1) }}">授课教师</a>
        </li>
        <li><a href="{{ url_for('home.school_list',page=1) }}">授课机构</a></li>
    </ul>
{% endblock %}

{% block content %}
    <!--导航条 start-->
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{{ url_for('home.index') }}">首页</a>></li>
                <li>所有课程</li>
            </ul>
        </div>
    </section>
    <!--增加课程分类-->
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active"><a href="#">最新 </a></li>
                            <li><a href="#">最热门</a></li>
                            <li><a href="#">参与人数</a></li>
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">
                                {% for cour in course %}
                                <div class="box">
                                    <a href="{{ url_for('home.course_detail',course_id=cour.course_id) }}">
                                        <img width="280" height="350" class="scrollLoading"
                                             src="{{ url_for('static',filename=cour.image) }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{{ url_for('home.course_detail',course_id=cour.course_id) }}">
                                            <h2>{{ cour.course_name }}</h2>
                                        </a>
                                        <span class="fl">时长：<i class="key">{{ cour.long_time }}</i></span>
                                        <span class="fr">学习人数：{{ cour.study_num }}&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="bottom">
                                        <a href="{{ url_for('home.course_detail',course_id=cour.course_id) }}"><span
                                                class="fl">来自{{ cour.school_name }}</span></a>
                                        <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ cour.start }}
                                    </span>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <div class="pageturn">
                    <ul class="pagelist">
                        {% if endpoint == '.index' %}
                            {{ macros.pagination_widget(pagination, endpoint) }}
                        {% else %}
                            {{ macros.pagination_widget(pagination, endpoint, id=id) }}
                        {% endif %}


                    </ul>
                </div>
                            <!--
                            <div class="pageturn">
                                <ul class="pagelist">


                                    <li class="active"><a href="?page=1">1</a></li>


                                    <li><a href="?page=2" class="page">2</a></li>


                                    <li class="long"><a href="?page=2">下一页</a></li>


                                </ul>

                            </div>  -->
                        </div>
                    </div>
                </div>
                <div class="right layout">
                    <div class="head">热门课程推荐</div>
                    <div class="group_recommend">

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ url_for('static',filename='media/courses/2016/11/540e57300001d6d906000338-240-135_n0L8vbw.jpg') }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> django与vuejs实战项目2</h2></a>
                                <span class="fl">难度：<i class="key">高级</i></span>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ url_for('static',filename='media/courses/2016/12/python面向对象.jpg') }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> python面向对象</h2></a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ url_for('static',filename='media/courses/2016/12/python文件处理.jpg') }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> python文件处理</h2></a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                            </dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}