{% extends 'home/home_base.html' %}

{% block wp %}
    <ul>
        <li class="active"><a href="{{ url_for('home.index') }}">首页</a></li>
        <li>
            <a href="{{ url_for('home.course_list',page=1) }}">
                所有课程<img class="hot" src="{{ url_for('static',filename='images/nav_hot.png') }}">
            </a>
        </li>
        <li>
            <a href="{{ url_for('home.teacher_list',page=1) }}">授课教师</a>
        </li>
        <li><a href="{{ url_for('home.school_list',page=1) }}">授课机构</a></li>
    </ul>
{% endblock %}




{% block content %}
    <!-- 轮播图  -->
    <div class="banner">
        <div class="wp">
            <div class="fl">
                <div class="imgslide">
                    <ul class="imgs">
                        <li>
                            <a href="#">
                                <img width="1200" height="478"
                                     src="{{ url_for('static',filename='media/banner/2016/11/57a801860001c34b12000460.jpg') }}"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img width="1200" height="478"
                                     src="{{ url_for('static',filename='media/banner/2016/11/57aa86a0000145c512000460.jpg') }}"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img width="1200" height="478"
                                     src="{{ url_for('static',filename='media/banner/2016/11/57a801860001c34b12000460_z4Vb8zl.jpg') }}"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img width="1200" height="478"
                                     src="{{ url_for('static',filename='media/banner/2016/11/57aa86a0000145c512000460_nMwvoQD.jpg') }}"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img width="1200" height="478"
                                     src="{{ url_for('static',filename='media/banner/2016/11/57aa86a0000145c512000460_GXIBATC.jpg') }}"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>

        </div>

    </div>
    <!--轮播图 end-->

    <!--feature start-->
    <section>
        <div class="wp">
            <ul class="feature">
                <li class="feature1">
                    <img class="pic" src="{{ url_for('static',filename='images/feature1.png') }}"/>
                    <p class="center">专业权威</p>
                </li>
                <li class="feature2">
                    <img class="pic" src="{{ url_for('static',filename='images/feature2.png') }}"/>
                    <p class="center">课程最新</p>
                </li>
                <li class="feature3">
                    <img class="pic" src="{{ url_for('static',filename='images/feature3.png') }}"/>
                    <p class="center">名师授课</p>
                </li>
                <li class="feature4">
                    <img class="pic" src="{{ url_for('static',filename='images/feature4.png') }}"/>
                    <p class="center">数据真实</p>
                </li>
            </ul>
        </div>
    </section>
    <!--feature end-->

    <!--公开课程 start-->
    <section>
        <div class="module">
            <div class="wp">
                <h1>公开课程</h1>
                <div class="module1 eachmod">
                    <div class="module1_1 left">
                        <img width="228" height="614" src="{{ url_for('static',filename='images/module1_1.jpg') }}"/>
                        <p class="fisrt_word">名师授课<br/>专业权威</p>
                        <a class="more" href="{{ url_for('home.course_list',page=1) }}">查看更多课程 ></a>
                    </div>
                    <div class="right group_list">
                        <!--
                        <div class="module1_2 box">
                            <div class="imgslide2">
                                <ul class="imgs">
                                    <li>
                                        <a href="course-detail.html">
                                            <img width="470" height="300"
                                                 src="{{ url_for('static',filename='media/courses/2016/12/python文件处理.jpg') }}"/>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="course-detail.html">
                                            <img width="470" height="300"
                                                 src="{{ url_for('static',filename='media/courses/2016/12/python面向对象.jpg') }}"/>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="unslider-arrow2 prev"></div>
                            <div class="unslider-arrow2 next"></div>
                        </div>

                        <div class="module1_3 box">
                            <a href="course-detail.html">
                                <img width="233" height="190"
                                     src="{{ url_for('static',filename='media/courses/2016/11/mysql.jpg') }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2 title="django入门">django入门</h2>
                                </a>
                                <span class="fl">难度：<i class="key">初级</i></span>
                                <span class="fr">学习人数：3</span>
                            </div>
                            <div class="bottom">
                                <span class="fl" title="慕课网">慕课网</span>
                                <span class="star fr">0</span>
                            </div>
                        </div>

                        <div class="module1_4 box">
                            <a href="course-detail.html">
                                <img width="233" height="190"
                                     src="{{ url_for('static',filename='media/courses/2016/11/57035ff200014b8a06000338-240-135.jpg') }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2 title="java入门">java入门</h2>
                                </a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                                <span class="fr">学习人数：0</span>
                            </div>
                            <div class="bottom">
                                <span class="fl" title="北京大学">北京大学</span>
                                <span class="star fr">0</span>
                            </div>
                        </div>

                        <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="233" height="190"
                                     src="{{ url_for('static',filename='media/courses/2016/11/540e57300001d6d906000338-240-135.jpg') }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2 title="python入门">python入门</h2>
                                </a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                                <span class="fr">学习人数：0</span>
                            </div>
                            <div class="bottom">
                                <span class="fl" title="南京大学">南京大学</span>
                                <span class="star fr">0</span>
                            </div>
                        </div>

                        <div class="module1_6 box">
                            <a href="course-detail.html">
                                <img width="233" height="190"
                                     src="{{ url_for('static',filename='media/courses/2016/11/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg') }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2 title="java入门2">java入门2</h2>
                                </a>
                                <span class="fl">难度：<i class="key">高级</i></span>
                                <span class="fr">学习人数：0</span>
                            </div>
                            <div class="bottom">
                                <span class="fl" title="慕课网2">慕课网2</span>
                                <span class="star fr">0</span>
                            </div>
                        </div>

                        <div class="module1_7 box">
                            <a href="course-detail.html">
                                <img width="233" height="190"
                                     src="{{ url_for('static',filename='media/courses/2016/11/57035ff200014b8a06000338-240-135_0nFiBSI.jpg') }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2 title="java入门3">java入门3</h2>
                                </a>
                                <span class="fl">难度：<i class="key">初级</i></span>
                                <span class="fr">学习人数：1</span>
                            </div>
                            <div class="bottom">
                                <span class="fl" title="慕课网3">慕课网3</span>
                                <span class="star fr">0</span>
                            </div>
                        </div>
                        -->
                        <!-- 热门课程推荐 -->
                        {% for cou in course %}
                            <div class="module1_8 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190"
                                         src="{{ url_for('static',filename=cou.image) }}"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="python入门2">{{ cou.course_name }}</h2>
                                    </a>
                                    {% if cou.difficulty == 1 %}
                                        <span class="fl">难度：<i class="key"></i>入门</span>
                                    {% elif cou.difficulty == 2 %}
                                        <span class="fl">难度：<i class="key"></i>初级</span>
                                    {% elif cou.difficulty == 3 %}
                                        <span class="fl">难度：<i class="key"></i>中级</span>
                                    {% elif cou.difficulty == 4 %}
                                        <span class="fl">难度：<i class="key"></i>高级</span>
                                    {% else %}
                                        <span class="fl">难度：<i class="key"></i></span>
                                    {% endif %}
                                    <span class="fr">学习人数：{{ cou.study_num }}</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title={{ cou.school_name }}>{{ cou.school_name }}</span>
                                    <span class="star fr">{{ cou.start }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--公开课程 end-->

    <!--课程机构 start-->
    <section>
        <div class="module greybg">
            <div class="wp">
                <h1>课程机构</h1>
                <div class="module3 eachmod">
                    <div class="module3_1 left">
                        <img width="228" height="463" src="{{ url_for('static',filename='images/module3_1.jpg') }}"/>
                        <p class="fisrt_word">名校来袭<br/>权威认证</p>
                        <a class="more" href="{{ url_for('home.school_list',page=1) }}">查看更多机构 ></a>
                    </div>
                    <div class="right">
                        <ul>
                            <!-- 培训机构/学校列表-->
                            {% for sch in school %}
                                <li class="">
                                    <a href="{{ url_for('home.ori_homepage',org_id=sch.id) }}">
                                        <div class="company">
                                            <img width="184" height="100"
                                                 src="{{ url_for('static',filename=sch.school_image) }}"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>{{ sch.school_info }}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title={{ sch.school_name }}>{{ sch.school_name }}</span>
                                        </p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--课程机构 end-->
{% endblock %}

{% block scripts %}

{% endblock %}