{% extends 'home/ori_base.html' %}

{% block head %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{{ url_for('home.index') }}">首页</a>></li>
                <li><a href="{{ url_for('home.school_list',page=1) }}">课程机构</a>></li>
                <li>机构首页</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block left %}
    <div class="left">
        <ul>
            <li class="active2"><a href="{{ url_for('home.ori_homepage',org_id=school.id) }}">机构首页</a></li>
            <li><a href="{{ url_for('home.ori_course',org_id=school.id) }}">机构课程</a></li>
            <li><a href="{{ url_for('home.ori_desc',org_id=school.id) }}">机构介绍</a></li>
            <li><a href="{{ url_for('home.ori_teacher',org_id=school.id) }}">机构讲师</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="right companycenter layout grouping">
        <div class="head">
            <h1>全部课程</h1>
            <a class="green fr more" href="{{ url_for('home.ori_course',org_id=school.id) }}">查看更多 > </a>
        </div>
        <div class="brief group_list">
            {% for cou in course %}
                <div class="module1_5 box">
                    <a href="course-detail.html"><img width="214"
                                                      src="{{ url_for('static',filename=cou.image) }}"/></a>
                    <div class="des">
                        <a href="{{ url_for('home.course_detail',course_id=cou.id) }}"><h2>{{ cou.course_name }}</h2>
                        </a>
                        <span class="fl">课时：<i class="key">{{ cou.chap_num }}</i></span>
                        <span class="fr">参加人数：{{ cou.study_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ school.school_name }}</span>
                        <span class="star fr  notlogin
                            " data-favid="{{ cou.course_id }}" data-fav-type="4">
                            {{ cou.start }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="{{ url_for('home.ori_teacher',org_id=school.id) }}">查看更多 > </a>
        </div>
        <div class="diarys">
            {% for tea in Teacher.query.filter_by(teacher_company=school.school_name).limit(2) %}
                <div class="module5 share company-diary-box" style="padding:10px 0;">
                    <div class="left">
                        <img class="pic"
                             src="{{ url_for('static',filename=tea.teacher_image) }}"/>
                        <p>昵称：{{ tea.teacher_name }}</p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="fl">
                                <a href=""><h1>优点：{{ tea.tech_point }}</h1></a>
                                <span>加入时间：{{ tea.add_time }}</span>
                            </div>
                        </div>
                        <div class="middle" style="border-bottom:0;">查看TA的 <a
                                href="{{ url_for('home.teacher_detail',teacher_id=tea.id) }}">课程</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构介绍</h1>
            <a class="green fr more" href="{{ url_for('home.ori_desc',org_id=school.id) }}">查看更多 > </a>
        </div>
        <div class="cont">
            {{ school.school_info }}
          </div>
    </div>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}
