{% extends 'home/user_base.html' %}
{% block left %}
    <div class="left">
        <ul>
            <li><a href="{{ url_for('home.user') }}">个人资料</a></li>
            <li><a href="{{ url_for('home.mycourse') }}">我的课程</a></li>
            <li><a href="{{ url_for('home.mycollect') }}">我的收藏</a></li>
            <li><a href="{{ url_for('home.comment') }}">我的评论</a></li>
            <li class="active2"><a href="{{ url_for('home.user_log') }}">操作日志</a></li>
            <li>
                <a href="{{ url_for('home.mymessage') }}" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block head %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{{ url_for('home.index') }}">首页</a>></li>
                <li><a href="{{ url_for('home.user') }}">个人中心</a>></li>
                <li>我的日志</li>
            </ul>
        </div>
    </section>

{% endblock %}

{% block content %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的日志</h1>
            </div>
        </div>

        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li class="active"><a href="{{ url_for('home.user_log') }}">登陆日志</a></li>
                </ul>


            </div>
            {% for mess in user_log %}
                <div class="messagelist">
                    <div class="messages">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ mess.add_time }}</span><span
                                    class="fr btn foldbtn"></span></div>
                            <p>{{ mess.remark }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--分页-->
            <div class="pageturn pagerright">
                <ul class="pagelist">
                    <li class="active"><a href="?page=1">1</a></li>
                </ul>
            </div>
        </div>

        <!--
        <div class="personal_des permessage">
            <div class="companycenter">
                <div class="group_list brief">

                    日志内容表格


                </div>
            </div>
        </div>-->
    </div>

{% endblock %}