{% extends 'home/user_base.html' %}

{% block title %}
    个人中心 {{ current_user.username }} {{ super() }}
{% endblock %}


{% block content %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
        </div>
        <div class="panel-body">
            {% for msg in get_flashed_messages(category_filter=["err"]) %}
                <p class="login-box-msg" style="color: red">{{ msg }}</p>
            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <p class="login-box-msg" style="color: green">{{ msg }}</p>
            {% endfor %}
            <form role="form" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div> 用户名：{{ user.username }}</div>
                    <div> 邮  箱：{{ user.email }}</div>
                    <div> 手机号：{{ user.phone }}</div>
                    <div class="form-group">
                        <label for="input_face"><span
                                class="glyphicon glyphicon-picture"></span>&nbsp;头像</label>
                        {{ form.image }}
                        {% if user.image %}
                            <img src="{{ url_for('static',filename='image/user/'+user.image) }}"
                                 class="img-responsive img-rounded" style="width: 100px">
                        {% else %}
                            <img src="{{ url_for('static',filename='image/user/default.jpg') }}"
                                 class="img-responsive img-rounded" style="width: 100px">
                        {% endif %}
                    </div>
                    {% for err in form.image.errors %}
                        <div class="col-md-12"></div>
                        <font style="color: red">{{ err }}</font>
                    {% endfor %}
                    <div class="form-group">
                        <label for="input_info"><span
                                class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label }}</label>
                        {{ form.info }}
                    </div>
                    {% for err in form.info.errors %}
                        <div class="col-md-12"></div>
                        <font style="color: red">{{ err }}</font>
                    {% endfor %}

                    {{ form.csrf_token }}
                    {{ form.submit }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}



{% endblock %}