{% extends 'base_user.html'%}
{% block body%}
	<div class="search_bar clearfix">
		<a href="/goods" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info" class="active">· 个人信息</a></li>
				<li><a href="/user/order/">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{user_name}}</li>
							<li><span>邮箱：</span>{{user_email}}</li>
							<li><span>联系地址：</span>山东省青岛市东头南大门</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
				{%for good in goods_list%}
				<li>
					<a href="/goods/detail?goodid={{good.id}}"><img src="/static/{{good.gpic}}"></a>
					<h4><a href="detail.html">{{good.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.gprice}}</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}

			</ul>
		</div>
		</div>
	</div>

{% endblock body%}