{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price per unit</td>
                <td>Total price</td>
            </tr>
        </thead>
        <tbody>
        {% for prod in order.bought %}
            <tr>
                <td><a href="/product/{{ prod.product_id }}">{{ prod.product.name }}</a></td>
                <td>{{ prod.quantity }}</td>
                <td>{{ prod.product.price|format_currency }}</td>
                <td>{{ prod.price()|format_currency }}</td>
                <td>
                {% if order.paid == None %}
                <a href="/order/remove/{{ order.id }}/{{ prod.id }}">Remove</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr><td>Total</td><td></td><td></td><td>{{ order.total()|format_currency }}</td></tr>
        </tbody>
    </table>
</div>
{% if is_buyer %}
<form action="/order/pay" method="get">
    <input type="hidden" name="order_id" value="{{ order.id }}">
    <button type="submit" class="btn btn-default">Pay</button>
</form>
{% endif %}
{% endblock %}
