{% extends "layout.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" pattern="[\w\s_/\-\+\(\)]+" class="form-control" maxlength="50">
    </div>
    <div class="form-group">
        <label for="img">Picture:</label>
        <input type="file" name="img" id="img" accept="image/jpeg,image/png">
    </div>
    <div class="form-group">
        <label for="desc">Description:</label><br>
        <textarea name="desc" id="desc" maxlength="255" pattern="[\w\s_/\-\+\(\)\,\.\?\']+" class="form-control"></textarea><br>
    </div>
    <div class="form-group">
        <label for="price">Price:</label><br>
        <input type="number" name="price" id="price" step="any" value="0.01">{{ currency }}<br>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
{% endblock %}
