{% extends 'admin/admin_base.html' %}


{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 center" style="text-align: center;">
                <ul class="stat-boxes">
                    <li>
                        <div class="left peity_bar_good"><span>2,4,9,7,12,10,19</span>+20%</div>
                        <div class="right">
                            <strong>{{ count.view_num }}</strong>
                            浏览次数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_neutral"><span>20,15,18,14,10,9,9,9</span>0%</div>
                        <div class="right">
                            <strong>{{ count.user_num }}</strong>
                            会员数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span>-50%</div>
                        <div class="right">
                            <strong>{{ count.order_num }}</strong>
                            订单数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_line_good"><span>12,6,9,23,14,10,17</span>+70%</div>
                        <div class="right">
                            <strong>{{ count.goods_num }}</strong>
                            商品总数
                        </div>
                    </li>
                </ul>
            </div>
            <div class="span12 center" style="text-align: center;">
                <ul class="stat-boxes">
                    <li>
                        <div class="left peity_bar_good"><span>2,4,9,7,12,10,19</span>+20%</div>
                        <div class="right">
                            <strong>{{ count.today_views }}</strong>
                            今日浏览次数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_neutral"><span>20,15,18,14,10,9,9,9</span>0%</div>
                        <div class="right">
                            <strong>{{ count.today_vip }}</strong>
                            今日新增会员数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span>-50%</div>
                        <div class="right">
                            <strong>{{ count.today_order }}</strong>
                            今日新增订单数
                        </div>
                    </li>
                    <li>
                        <div class="left peity_line_good"><span>12,6,9,23,14,10,17</span>+70%</div>
                        <div class="right">
                            <strong>{{ count.today_goods }}</strong>
                            今日新增商品总数
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    Welcome in the <strong>Unicorn Admin Theme</strong>. Don't forget to check all the pages!
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Site
                        Statistics</h5>
                        <div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span4">
                                <ul class="site-stats">
                                    <li><i class="icon-user"></i> <strong>{{ count.user_num }}</strong>
                                        <small>Total Users</small>
                                    </li>
                                    <li><i class="icon-arrow-right"></i> <strong>{{ count.today_vip }}</strong>
                                        <small>New Users</small>
                                    </li>
                                    <li class="divider"></li>
                                    <li><i class="icon-shopping-cart"></i> <strong>{{ count.goods_num }}</strong>
                                        <small>Total Shop Items</small>
                                    </li>
                                    <li><i class="icon-tag"></i> <strong>{{ count.order_num }}</strong>
                                        <small>Total Orders</small>
                                    </li>
                                    <li><i class="icon-repeat"></i> <strong>{{ count.today_order }}</strong>
                                        <small>Today Orders</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="span8">
                                <div class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}