{% extends 'df_goods/goods_header.html' %}

{% block header %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        function add() {
            num=parseFloat($('.num_show').val());
            $('.num_show').val(num+1);
            $('.num_show').blur();
        };
        function minus() {
            num=parseFloat($('.num_show').val());
            if(num<=1){
                return;
            }
            $('.num_show').val(num-1);
            $('.num_show').blur();
        };
        $(function () {
            $('.num_show').blur(function () {
                num=parseInt($('.num_show').val());
                if(num<=1){
                    num=1;
                }
                price=parseFloat($('#gprice').text());
                total=num*price;
                $('.num_show').val(num);
                $('#gtotal').text(total.toFixed(2)+'元');
            });
        })
    </script>
{% endblock header %}

{% block content2 %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">

		<a href="#">全部分类</a>
            <span>></span>
        <a href="/list{{ goods.gtype_id }}_1_1">{{ ttitle }}</a>
        {% if id|default:'' != '' %}
		    <span>>商品详情</span>
        {% endif %}

	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>{{ goods.gintro|slice:'20' }}...</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{ goods.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em id="gtotal">{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for g in news %}
					<li>
						<a href="/{{ g.id }}/"><img src="/static/{{ g.gpic }}"></a>
						<h4><a href="/{{ g.id }}/">{{ g.gtitle }}</a></h4>
						<div class="prize">￥{{ g.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.gcontent|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
    <div class="add_jump"></div>
    <script type="text/javascript">
        $(function () {
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
            //添加购物车
            $('#add_cart').click(function(){
                //判断是否登录，若未登录则提示先登录
                if($('.login_btn').text().indexOf('登录')>=0){
                    alert('请登录后再购买');
                    location.href='/user/login/';
                    return;
                }
                //动画
                $(".add_jump").stop().animate({
                    'left': $to_y+7,
                    'top': $to_x+7},
                    "fast", function() {
                        $(".add_jump").fadeOut('fast',function () {});
                });
                //异步
                num=parseInt($('.num_show').val());
                $.get('/cart/add{{goods.id}}_'+num+'/',function (data){
                    $('#show_count').text(data.count);
                });
            });

            //立即购买
            $('#buy_btn').click(function () {
                //判断是否登录，若未登录则提示先登录
                if($('.login_btn').text().indexOf('登录')>=0){
                    alert('请先登录后再购买');
                    location.href='/user/login/';
                    return;
                }
                //添加到购物车
                num=parseInt($('.num_show').val());
                $.get('/cart/add{{goods.id}}_'+num+'/',function (data) {
                    //转向订单页面
                    location.href='/order/?cart_id='+data.cart_id;
                });
            });
        })
    </script>
{% endblock content2 %}