{% extends 'df_goods/goods_header.html' %}

{% block header %}
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{% endblock header %}

{% block content2 %}
    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for t in type01 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
                {% for g in type0 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for t in type11 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list2_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				{% for g in type1 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for t in type21 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list3_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for g in type2 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for t in type31 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list4_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for g in type3 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for t in type41 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list5_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for g in type4 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for t in type51 %}
				<a href="/{{ t.id }}">{{ t.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/list6_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{% for g in type5 %}
				<li>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<div class="prize">¥ {{ g.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>

{% endblock content2 %}