{% extends 'df_goods/goods_header.html' %}
{% block header %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.add_goods').click(function(){
			    //判断是否登录，若未登录则提示先登录
                if($('.login_btn').text().indexOf('登录')>=0){
                    alert('请登录后再购买');
                    location.href='/user/login/';
                    return;
                }
                //异步
                var a=$(this).attr('id');//将产品的id附在属性id上。通过取得id得到产品
                var i=a.toString();
                $.get('/cart/add'+i+'_1'+'/',function(data){
                    $('#show_count').text(data.count);
                });
		    });
        })
    </script>
{% endblock header %}
{% block content2 %}
    
    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">

        <a>全部分类</a>
            <span>></span>
        <a>{{ ttitle }}</a>
        {% if id|default:'' != '' %}
		    <span>>商品详情</span>
        {% endif %}

	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in news %}
					<li>
						<a href="/{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
						<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
						<div class="prize">￥{{ goods.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{ typeinfo.id }}_1_1"
                   {% if sort == '1' %}
                   class="active">
                    {% endif %}
                    默认</a>
				<a href="/list{{ typeinfo.id }}_1_2">
                    {% if sort == '2' %}
                    class="active">
                    {% endif %}
                    价格</a>
				<a href="/list/{{ typeinfo.id }}_1_3">
                    {% if sort == '3' %}
                      class="active">
                    {% endif %}
                    人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in page %}
				<li>
					<a href="/{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gprice }}</span>
						<span class="unit">{{ goods.gprice }}/{{ goods.gunit }}</span>
						<a href="javascript:;" id="{{ goods.id }}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
            {% if page.has_previous %}
				<a href="/list{{ typeinfo.id }}_{{ page.previous_page_number }}_{{ sort }}"><上一页</a>
            {% endif %}

            {% for pindex in paginator.page_range %}
                {% if pindex == page.number %}
			    	<a href="#" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="/list{{ typeinfo.id }}_{{ pindex }}_{{ sort }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
				<a href="/list{{ typeinfo.id }}_{{ page.next_page_number }}_{{ sort }}/">下一页></a>
            {% endif %}
			</div>
		</div>
	</div>
    
{% endblock content2 %}