{% extends 'df_goods/base.html' %}
 {% block head%}

	<script type="text/javascript">

		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}

	</script>
 {% endblock head%}


 {%block body%}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="/goods/typeInfo?typeid=1&pindex=1" class="fruit">新鲜水果</a></li>
			<li><a href="/goods/typeInfo?typeid=2&pindex=1" class="seafood">海鲜水产</a></li>
			<li><a href="/goods/typeInfo?typeid=3&pindex=1" class="meet">猪牛羊肉</a></li>
			<li><a href="/goods/typeInfo?typeid=4&pindex=1" class="egg">禽类蛋品</a></li>
			<li><a href="/goods/typeInfo?typeid=5&pindex=1" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="/goods/typeInfo?typeid=6&pindex=1" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/typeInfo?typeid=1&pindex=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				{% for item in type0%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
				{%endfor%}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">河虾</a>
				<a href="#">扇贝</a>				
			</div>
			<a href="/goods/typeInfo?typeid=2&pindex=1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">

			{% for item in type1%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
			{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/typeInfo?typeid=3&pindex=1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for item in type2%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
			{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/typeInfo?typeid=4&pindex=1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for item in type3%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
			{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/typeInfo?typeid=5&pindex=1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for item in type4%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
			{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/typeInfo?typeid=6&pindex=1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{% for item in type5%}
				<li>
					<h4><a href="/goods/detail?goodid={{item.id}}">{{item.gtitle}}</a></h4>
					<a href="/goods/detail?goodid={{item.id}}"><img src="/static/{{item.gpic}}"></a>
					<div class="prize">￥{{item.gprice}}</div>
				</li>
			{%endfor%}
			</ul>
		</div>
	</div>

 {%endblock body%}