{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}订单{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/public.css' %}">
    <link rel="stylesheet" href="{% static 'css/proList.css' %}">
    <link rel="stylesheet" href="{% static 'css/mygxin.css' %}">
{% endblock head %}
{% block main %}
    <div class="order cart mt">
        <!-----------------site------------------->
        <div class="site">
            <p class="wrapper clearfix">
                <span class="fl">订单确认</span>
            </p>
        </div>
			<!-----------------orderCon------------------->
			<div class="orderCon wrapper clearfix">
				<div class="orderL fl">
					<!--------h3---------------->
					<h3>收件信息</h3>
					<!--------addres---------------->
					<div class="addres clearfix">
						<div class="addre fl on">
							<div class="tit clearfix">
								<p class="fl"><span id="name_address">{{ address.name }}</span>
									<span class="default">[默认地址]</span>
								</p>
							</div>
							<div class="addCon">
								<p id="address_address">{{ address.province }} {{ address.city }} {{ address.area }} {{ address.details }}</p>
								<p id="phone_address">{{ address.phone }}</p>
							</div>
						</div>
					</div>
					<h3>支付方式</h3>
					<!--------way---------------->
					<div class="way clearfix">
						<img class="on" src="{% static 'images/way01.jpg' %}" name="alipay">
						<img src="{% static 'images/way02.jpg' %}">
						<img src="{% static 'images/way03.jpg' %}">

					</div>

					<!--------dis---------------->
				</div>
				<div class="orderR fr">
					<div class="msg">
						<h3>订单内容</h3>
						<!--------ul---------------->
                        {% for orderitem in orderitems %}
                            <ul class="clearfix">
                                <li class="fl">
                                    <img src="{{ MEDIA_URL }}{{ orderitem.color.value }}" width="87px" height="87px">
                                </li>
                                <li class="fl">
                                    <p>{{ orderitem.goods.gdesc|truncatechars:20 }}</p>
                                    <p>颜色分类：{{ orderitem.color.name }}</p>
                                    <p>数量：{{ orderitem.count }}</p>
                                </li>
                                <li class="fr">￥{{ orderitem.all_price }}</li>
						    </ul>
                        {% endfor %}
					</div>
					<!--------tips---------------->
					<div class="tips">
						<p><span class="fl">商品金额：</span><span class="fr">￥{{ allprice }}</span></p>
						<p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
						<p><span class="fl">运费：</span><span class="fr">免运费</span></p>
					</div>
					<!--------tips count---------------->
					<div class="count tips">
						<p><span class="fl">合计：</span><span class="fr">￥{{ allprice }}</span></p>
					</div>
					<!--<input type="button" name="" value="去支付"> -->
                    <a href="" id="pay" class="pay" onclick="javascript:void(0);">去支付</a>
				</div>
			</div>
		</div>
{%  endblock main %}
{% block footer %}
    <script src="{% static 'js/public.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/pro.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/user.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#pay').click(function () {
            options = '/order/created/?orderitems={{ raworderitems }}&name='+$('#name_address:first-child').text()+"&address="+$('#address_address').text()+"&phone="+$('#phone_address').text()+"&type="+$('.way .on').attr('name');
            $(this).attr('href', options);
        })
    </script>
{% endblock footer %}





