{% extends "base.html" %}
{% block title %} Add Product {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1 class="important">
		"Hello Page for {{Admin}}"
	</h1>

	<form method="POST">
	  <div class="form-group">
	    <label for="productName">Product Name</label>
	    <input type="text" name="name" class="form-control" placeholder="Enter Product Name" required>

	   	<label for="price">Price</label>
	    <input type="text" name="price" class="form-control" placeholder="Enter Product Price" required>
	    
	    <label for="category">Category</label><br>

	     <select name="category">
	     	{% for category in categories %}

		    	<option value="{{category.id}}">{{category.name}}</option>

	     	{% endfor %}
		 </select>
	  	<br>
	  
	  <textarea rows="4" cols="50" name="description" class="form-control" required="">Enter Description here ...</textarea><br>
	</div>
  	  <button type="submit" class="btn btn-primary">Add</button>
	</form>
{% endblock %}