<li><a href="{% url 'goods:goods_list' cags.0.id 1 %}" class="fruit">{{ cags.0.cag_name }}</a></li>
<li><a href="{% url 'goods:goods_list' cags.1.id 1 %}" class="seafood">{{ cags.1.cag_name }}</a></li>
<li><a href="{% url 'goods:goods_list' cags.2.id 1 %}" class="meet">{{ cags.2.cag_name }}</a></li>
<li><a href="{% url 'goods:goods_list' cags.3.id 1 %}" class="egg">{{ cags.3.cag_name }}</a></li>
<li><a href="{% url 'goods:goods_list' cags.4.id 1 %}" class="vegetables">{{ cags.4.cag_name }}</a></li>
<li><a href="{% url 'goods:goods_list' cags.5.id 1 %}" class="ice">{{ cags.5.cag_name }}</a></li>
