{% extends 'home/user_base.html' %}
{% block title %}
    修改密码
    {{ super() }}

{% endblock %}


{% block content %}
    <!--内容-->
    <div class="container" style="margin-top:120px">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;修改密码</h3>
                    </div>
                    <div class="panel-body">
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                            <p class="login-box-msg" style="color: red">{{ msg }}</p>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                            <p class="login-box-msg" style="color: green">{{ msg }}</p>
                        {% endfor %}
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="input_password"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.old_password.label }}
                                    </label>
                                    {{ form.old_password }}
                                </div>
                                {% for err in form.old_password.errors %}
                                    <div class="col-md-12"></div>
                                    <font style="color: red">{{ err }}</font>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="input_password"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.password.label }}
                                    </label>
                                    {{ form.password }}
                                </div>
                                {% for err in form.password.errors %}
                                    <div class="col-md-12"></div>
                                    <font style="color: red">{{ err }}</font>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="input_repassword"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.repwd.label }}</label>
                                    {{ form.repwd }}
                                </div>
                                {% for err in form.repwd.errors %}
                                    <div class="col-md-12"></div>
                                    <font style="color: red">{{ err }}</font>
                                {% endfor %}
                                {{ form.csrf_token }}
                                {{ form.submit }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
{% endblock %}
