{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div id="wrapper">
	<h1 class="important">
		"Hello and Woezor to my online shop setup!"
	</h1><br>
	{% include 'banner.html' %}<br>
	
	<div id="oauth">

		<a href="#" class="badge badge-info" id="facebook">Login with Facebook</a><br>

		<a href="#" class="badge badge-info" id="gmail">Login with Gmail</a>

	</div>
	<form method="POST">
	  <div class="form-group">
	    <label for="email">Email address</label>
	    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" placeholder="Password">
	  </div>
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="exampleCheck1">
	    <label class="form-check-label" for="exampleCheck1">Check me out</label>
	  </div>
	  <button type="submit" class="btn btn-primary">Sign In</button>
	</form>

	<a href="/register" class="btn btn-primary" id="Signup">Sign Up</a>
</div>
{% endblock %}